# /etc/systemd/system/agate.service
[Unit]
Description=agate

[Service]
User=root
Type=simple
WorkingDirectory=/home/daniel/.certificates/
ExecStart=/home/daniel/agate/agate --hostname ftorres.eu --content /home/daniel/gemini/

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
